! pip install sketch

https://github.com/approximatelabs/sketch

https://news.ycombinator.com/item?id=34400443

sales_data.sketch.howto("Create some derived features from the address")

sales_data.sketch.ask("What columns might have PII information in them?")

In [48]:
import sketch
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import plotly.express as px

# df=sns.load_dataset('mpg')
# df.head()
# sns.get_dataset_names()
df=sns.load_dataset('flights')
df

     year month  passengers
0    1949   Jan         112
1    1949   Feb         118
2    1949   Mar         132
3    1949   Apr         129
4    1949   May         121
..    ...   ...         ...
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

[144 rows x 3 columns]

In [49]:
df.sketch.howto('max passengers by month and by year')

In [55]:
df.groupby(['year'],as_index=False)['passengers'].max()

    year  passengers
0   1949         148
1   1950         170
2   1951         199
3   1952         242
4   1953         272
5   1954         302
6   1955         364
7   1956         413
8   1957         467
9   1958         505
10  1959         559
11  1960         622

In [2]:
sales_data = pd.read_csv("https://gist.githubusercontent.com/bluecoconut/9ce2135aafb5c6ab2dc1d60ac595646e/raw/c93c3500a1f7fae469cba716f09358cfddea6343/sales_demo_with_pii_and_all_states.csv")

In [9]:
sales_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Credit Card,SSN,City,State,Zipcode
0,141234,iPhone,1.0,700.00,01/22/19 21:25,"10995 Williams Cliffs, East Michelleborough, A...",9753-7632-8228-2717,499-70-8008,East Michelleborough,AZ,86031
1,141235,Lightning Charging Cable,1.0,14.95,01/28/19 14:15,"1067 Guzman View Suite 342, Tylerton, TX 75901",4353-8782-6482-8223,596-54-9892,Tylerton,TX,75901
2,141236,Wired Headphones,2.0,11.99,01/17/19 13:33,"7616 Lauren Run Apt. 642, South Julia, CO 81368",2581-0339-8831-3503,608-47-3943,South Julia,CO,81368
3,141237,27in FHD Monitor,1.0,149.99,01/05/19 20:33,"23081 Kyle Crest, Laurenchester, NY 10177",9431-1332-2561-3939,678-46-9684,Laurenchester,NY,10177
4,141238,Wired Headphones,1.0,11.99,01/25/19 11:59,"59764 Spears Mountains, Port Amanda, SC 29826",4788-2969-5170-6914,980-25-2977,Port Amanda,SC,29826

In [20]:
sales_data['test']=sales_data['Purchase Address'].str.split(',').str[0].str[1]
sales_data['test2']=sales_data['Purchase Address'].apply(lambda x:x.split(',')[0] )
sales_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Credit Card,SSN,City,State,Zipcode,test,test2
0,141234,iPhone,1.0,700.00,01/22/19 21:25,"10995 Williams Cliffs, East Michelleborough, A...",9753-7632-8228-2717,499-70-8008,East Michelleborough,AZ,86031,0,10995 Williams Cliffs
1,141235,Lightning Charging Cable,1.0,14.95,01/28/19 14:15,"1067 Guzman View Suite 342, Tylerton, TX 75901",4353-8782-6482-8223,596-54-9892,Tylerton,TX,75901,0,1067 Guzman View Suite 342
2,141236,Wired Headphones,2.0,11.99,01/17/19 13:33,"7616 Lauren Run Apt. 642, South Julia, CO 81368",2581-0339-8831-3503,608-47-3943,South Julia,CO,81368,6,7616 Lauren Run Apt. 642
3,141237,27in FHD Monitor,1.0,149.99,01/05/19 20:33,"23081 Kyle Crest, Laurenchester, NY 10177",9431-1332-2561-3939,678-46-9684,Laurenchester,NY,10177,3,23081 Kyle Crest
4,141238,Wired Headphones,1.0,11.99,01/25/19 11:59,"59764 Spears Mountains, Port Amanda, SC 29826",4788-2969-5170-6914,980-25-2977,Port Amanda,SC,29826,9,59764 Spears Mountains
...,...,...,...,...,...,...,...,...,...,...,...,...,...
185945,319666,Lightning Charging Cable,1.0,14.95,12/11/19 20:58,"0918 Sellers Stravenue, Murrayport, VA 23529",6330-9667-7648-5375,326-43-8038,Murrayport,VA,23529,9,0918 Sellers Stravenue
185946,319667,AA Batteries (4-pack),2.0,3.84,12/01/19 12:01,"8646 Higgins Road Apt. 673, East Luke, WI 54318",7928-0521-1139-8895,802-83-9528,East Luke,WI,54318,6,8646 Higgins Road Apt. 673
185947,319668,Vareebadd Phone,1.0,400.00,12/09/19 06:43,"962 Mcbride Motorway Apt. 085, Williamshaven, ...",8809-4349-6427-8935,157-00-6893,Williamshaven,NY,13124,6,962 Mcbride Motorway Apt. 085
185948,319669,Wired Headphones,1.0,11.99,12/03/19 10:39,"86305 Ricky Radial Apt. 414, Morachester, MO 6...",0526-5467-8300-3974,714-39-2575,Morachester,MO,65438,6,86305 Ricky Radial Apt. 414
185949,319670,Bose SoundSport Headphones,1.0,99.99,12/21/19 21:45,"8919 Sean Parkways Apt. 636, Jenniferhaven, NY...",3011-3004-3146-8666,021-60-0991,Jenniferhaven,NY,10261,9,8919 Sean Parkways Apt. 636

In [10]:
sales_data.sketch.howto("Create some derived features from the address")

In [3]:
sales_data.sketch.ask("What columns might have PII information in them?")

In [4]:
sales_data.sketch.ask("Can you give me friendly names for each column? (output as an HTML list)")

In [5]:
sales_data.sketch.howto("Create some derived features from the address")

In [6]:

# Create a new column for the city
sales_data['City'] = sales_data['Purchase Address'].apply(lambda x: x.split(',')[1])

# Create a new column for the state
sales_data['State'] = sales_data['Purchase Address'].apply(lambda x: x.split(',')[2].split(' ')[1])

# Create a new column for the zipcode
sales_data['Zipcode'] = sales_data['Purchase Address'].apply(lambda x: x.split(',')[2].split(' ')[2])

In [7]:
sales_data.sketch.howto("Get the top 5 grossing states")

In [8]:

# Get the top 5 grossing states

# Calculate total sales per state
state_sales = sales_data.groupby('State')['Price Each'].sum().reset_index()

# Sort the dataframe by total sales in descending order
state_sales = state_sales.sort_values(by='Price Each', ascending=False)

# Get the top 5 grossing states
top_5_states = state_sales.head(5)

# Print the results
print(top_5_states)

   State  Price Each
4     CA  4222370.22
42    TX  2940575.44
8     FL  2166926.57
33    NY  2070624.71
13    IL  1413911.86