In [1]:
import numpy as np

In [9]:
python_list=[2,3,4,5]
new=[3,3,3]
array=np.array([python_list,new],dtype='object')
array

array([list([2, 3, 4, 5]), list([3, 3, 3])], dtype=object)

In [3]:
type(array)

numpy.ndarray

In [10]:
import pandas as pd
pd.DataFrame()

              0
0  [2, 3, 4, 5]
1     [3, 3, 3]